.App {
  text-align: center;
  background-color: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background: linear-gradient(to bottom, #ffffff  0%, #05d5ff 100%);
  background-repeat: no-repeat;

}
.first {
  padding-top: 80px;
  background-image: url("./media/backgroundbanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  height: calc(88vh - 80px);
  background-color: black;
  background-color: rgb(208, 171, 122);
  z-index:-1

}

.second{
  width:100% ;

}

.home{
    background: 'linear-gradient(to left, #20b359, #3dd2e5)'
}



.slick-list {
  padding: 0 !important; /* Remove unnecessary padding */
}
.slick-track {
  margin-bottom: 0 !important; /* Remove bottom margin */
}

.note{
  font-weight: bold;
}