.App {
  text-align: center;
  background-color: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-image: url('https://static.vecteezy.com/system/resources/previews/022/145/526/non_2x/woman-hand-holding-tree-on-blur-green-nature-background-concept-eco-earth-day-free-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Positions content towards the right side */
  padding: 20px; /* Adds some spacing around the content */
}

.text-box {
  max-width: 40%; /* Adjust as needed to fit the text content */
background-color: rgb(128, 201, 127);
  padding: 20px; /* Adds padding inside the text box */
  border-radius: 10px; /* Rounds the edges of the box */
  border: 0.1px solid yellow;
  border-radius: 50px;
}

.head{
  color: white;
}

.oh{
  background-color: "linear-gradient(to right, #add8e6, #90ee90)";

  height: 100vh;
}